In [48]:
import pandas as pd

In [55]:
#Answers to questionaire
df_run = pd.read_csv('Twitter/masks4all_task_run.csv')
df_task = pd.read_csv('Twitter/masks4all_task.csv')
df_output = pd.read_csv('Twitter/tweets-5-4_output.csv')

df_run.set_index('id', inplace = True)
df_task.set_index('id', inplace = True)

In [56]:
#Retrieve the image url from the task dataset
df_task.drop(df_task.columns.difference(['info_image']), axis = 1, inplace = True)
df_run = df_run.join(df_task, on = 'id')

In [57]:
#Clean the dataset
df_run.reset_index(inplace = True)
df_run.drop(df_run.columns.difference(['info_0', 'info_1', 'info_2', 'info_3', 'info_4', 'info_image']), axis = 1, inplace = True)

In [58]:
#Columns containing the answer to each question
questions = ['info_0', 'info_1', 'info_2', 'info_3', 'info_4']
id_column = 'info_image'
df_run_grouped = pd.DataFrame(df_run[id_column].unique())
df_run_grouped.columns = [id_column]

#Majority vote for each id on each question
for field in questions:
    df_field = df_run.groupby(id_column)[field].apply(lambda x: x.value_counts().index[0]).reset_index()
    df_run_grouped = df_run_grouped.join(df_field.set_index(id_column), on=id_column)

In [59]:
df_run_grouped[df_run_grouped['info_image'] == 'http://pbs.twimg.com/media/EU1nYFSXYAE_CAZ.jpg']

,info_image,info_0,info_1,info_2,info_3,info_4
30,http://pbs.twimg.com/media/EU1nYFSXYAE_CAZ.jpg,No,No,No,No mask in image,No

In [60]:
#Merge with info of the tweet
df_result = pd.merge(df_run_grouped, df_output, left_on='info_image', right_on='media_url')

In [ ]:
#Final output
df_result