In [43]:
import pandas as pd

In [57]:
#Answers to questionaire
df_run = pd.read_csv('Twitter/New/social_distancing_and_masks_task_run.csv')
df_task = pd.read_csv('Twitter/New/social_distancing_and_masks_task.csv')
df_output = pd.read_csv('Twitter/New/social_distancing_and_masks_result.csv')

In [58]:
#Clean the dataset
df_run.reset_index(inplace = True)
df_run.drop(df_run.columns.difference(['task_id','info_0', 'info_1', 'info_2', 'info_3', 'info_4', 'info_5', 'info_6', 'info_7', 'info_8', 'info_9', 'media_url']), axis = 1, inplace = True)

In [59]:
#Columns containing the answer to each question
questions = ['info_0', 'info_1', 'info_2', 'info_3', 'info_4', 'info_5', 'info_6', 'info_7', 'info_8', 'info_9']
id_column = 'media_url'
df_run_grouped = pd.DataFrame(df_run[id_column].unique())
df_run_grouped.columns = [id_column]

#Majority vote for each id on each question
for field in questions:
    df_field = df_run[df_run[field].isna() == False].groupby(id_column)[field].apply(lambda x: x.value_counts().index[0]).reset_index()
    df_run_grouped = df_run_grouped.join(df_field.set_index(id_column), on=id_column)

In [60]:
df_run_grouped

,media_url,info_0,info_1,info_2,info_3,info_4,info_5,info_6,info_7,info_8,info_9
0,prova.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,prova2.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,prova3.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,prova4.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,prova5.com,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,prova6.com,Yes,Yes,Yes,5 or more,Yes,Yes,Outdoors,Other,Yes,Surgical

In [65]:
#Merge with info of the tweet and clean final dataset
df_result = pd.merge(df_run_grouped, df_task, left_on='media_url', right_on='info_image')
df_result.drop(columns = ['info_image', 'calibration', 'created', 'fav_user_ids', 'info_id', 'info_id2', 'n_answers', 'priority_0', 'project_id', 'quorum', 'state'], axis = 1, inplace = True)

In [68]:
df_result.rename(columns={'info_lat':'latitude', 'info_country': 'country', 'info_long':'longitude', 'info_text': 'text', 'info_url': 'url'}, inplace = True)

In [69]:
df_result

Empty DataFrame
Columns: [media_url, info_0, info_1, info_2, info_3, info_4, info_5, info_6, info_7, info_8, info_9, id, country, latitude, longitude, text, url, info_userName]
Index: []